.title {
    text-align: center;
    color:#f4f4f4;
    font-stretch: ultra-expanded;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

}
.under_title {
    text-align: center;
    color:#f4f4f4;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.nav {
    background: #333; /* Background color */
    text-align: center; /* Centers inline elements inside */
    padding: 5px 0; /* Adds some padding */
}

/* Make the navigation links display inline */
.nav ul {
    list-style: none;  /* Removes bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the items horizontally */
}

/* Style the navigation items */
.nav ul li {
    padding: 10px 20px;
}

/* Style the links */
.nav ul li a {
    text-decoration: none; /* Removes underline */
    color: white; /* White text */
    background: #333;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    transition: 0.3s;
}

/* Hover effect */
.nav ul li a:hover {
    background: #a81414;
    border-radius: 5px;
}
.header {
    background-image: url('Gemini_Generated_Image_cihldccihldccihl.jpg');
    background-size: 100% auto; /* Ensures full width but keeps height dynamic */
    background-position: center; /* Centers the image horizontally */
    background-repeat: no-repeat; /* Prevents tiling */
    background-color: #f4f4f4; /* Fallback background color */
    margin: 0;
    padding: 5px;
}
.about {
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 60px;
    font-size: 15px;

}

.info {
    color: #B22222;
}


.serv-list {
    margin-left: 10px;
    font-size: 20px;
}
hr {
    border: none;
    height: 2px;
    background: #333; /* Dark line */
    margin: 10px 0;
    width: 100%;
    clear: both;
}
  .offers {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
 .offers :focus {
    outline: none;
  }
 .offers {
    position: relative;
    background-color: #B22222;
    color: #fff;
    margin: 28px;
    border-radius: 999px;
    line-height: 3em;
    padding: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  div.gallery {
    margin-left: 50px;
    margin-right: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    margin-left: 50px;
    margin-right: 20px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
  }
  